<div class="max-w-[1264px] mx-auto px-4 flex flex-col md:flex-row justify-between items-center gap-4">
    <div class="order-2 md:order-1 text-gray-400 text-xs">
        © ২০২৬ সর্বস্বত্ব সংরক্ষিত
    </div>
    <ul class="flex gap-6 text-sm text-gray-400 order-1 md:order-2">
        <li><a href="about.html" class="hover:underline">সম্পর্কে</a></li>
        <li><a href="privacy.html" class="hover:underline">যোগাযোগ</a></li>
        <li><a href="terms.html" class="hover:underline">শর্তাবলী</a></li>
    </ul>
</div>
