<aside class="s-sidebar" id="mobile-sidebar">
    <nav class="s-sidebar--nav">
        <ul>
            <li><a href="index.html" class="nav-links"><i class="fas fa-home"></i> হোম</a></li>
            <li><a href="categories.html" class="nav-links"><i class="fas fa-th-list"></i> বিভাগ</a></li>
            <li><a href="tags.html" class="nav-links"><i class="fas fa-tags"></i> ট্যাগ</a></li>
            <li><a href="blog.html" class="nav-links"><i class="fas fa-rss"></i> ব্লগ</a></li>
        </ul>
    </nav>
</aside>
